#menubar{     
               width:auto;height:45px;     
               /*margin:上下 左右*/     
               margin:50px auto;     
               position: relative;
               z-index: 1;
               border-radius:10px;     
               /*html + css3 渐变画图 */     
                   background-image:-webkit-linear-gradient(rgba(41,41,41,0.75) 0% ,rgba(54,54,54,0.72) 50%,rgba(24,23,23,0.94) 51%);     
               box-shadow:1px 1px 33px #fff;/*设计阴影的*/        
           }     
           #menubar ul
           {
           	padding-left: 25%;
           }
           #menubar ul li     
           {  
               width:127px; height:45px;     
               list-style:none;/*閸樼粯甯�閸﹀棛鍋�*/     
               float:left;/*濮樻潙閽╅弰鍓с仛*/     
               color:white;/* #fff */     
               font-size:18px;     
               font-family:"瀵邦喛钂嬮梿鍛寸拨";     
               text-align:center;     
               line-height:45px;/* 鐞涘矂鐝捄锟� 妤傛ê瀹虫稉锟介懛瀛樻閿涘瞼鐝惄鏉戠湷娑擄拷*/     
               border-right:1px solid #000;/*閸欏疇绔熷锟�*/     
           }     
           #menubar ul li a     
           {   
               color:white;/* #fff */     
               font-size:18px;     
               font-family:"瀵邦喛钂嬮梿鍛寸拨";     
               text-decoration:none;     
           }     
           #menubar ul li:hover     
           {     
               background:rgba(10,5,5,0.45);     
           }     
           #menubar ul li.first:hover     
           {     
               border-radius:10px 0px 0px 10px;/*瀹革缚绗� 瀹革缚绗� 閸﹀棗濮弰鍓с仛 */     
           }     
           #menubar ul li.last:hover     
           {     
               border-radius:0px 10px 10px 0px;/*閸欏厖绗� 閸欏厖绗� 閸﹀棗濮弰鍓с仛 */     
           }     
           #menubar ul li ul li      
           {     
               border:none;     
               border-top:1px solid #989898;     
               background:rgba(10,5,5,0.45);/*妫版粏澹婇柅蹇旀鎼达拷 */     
               border-radius:10px;     
           }     
           #menubar ul li ul     
           {     
               display:none;/*娑撳秵妯夌粈锟�*/     
           }     
           #menubar ul li ul li:hover     
           {     
               background:rgba(10,5,5,0.8);/*妫版粏澹婇柅蹇旀鎼达拷 */     
               border-radius:10px;     
           }     
           #menubar ul li:hover ul     
           {     
               display:block;     
               -webkit-animation:roll 0.3s ease;/*roll 閺冨娴嗛崥宥囆為敍锟�1s閺冨娴嗛弫鍫熺亯 */     
           }     
           @-webkit-keyframes roll /*roll閺冨娴嗛崥宥囆炴稉搴濈瑐闂堫澀绔撮懛锟�*/     
           {     
               0% {-webkit-transform:rotate(0deg);}     
               100% {-webkit-transform:rotate(360deg);}     
           }